
@charset "utf-8";
/* TABLA */


/*ESTE ARCHIVO TABLA .CSS LO CREE PARA PREGUNTAR, ESTA MAL ? DEBIDO A QUE EN PROGRAMACION ESTAMOS 
  ACOSTUMBRADOS A DIVIDIR TODO, PARA QUE SEA MAS FACIL DE MODIFICAR EN CASO DE SER NECESARIO.
  ME PUSE A PENSAR, SI PUEDO DIVIDIR LOS ESTILOS PARA LA TABLA, POR QUE NO HACERLO? NO TENGO EXPERIENCIA
  EN EL DESARROLLO WEB, POR TANTO DESCONOZCO SI ESTO ES UNA MALA PRACTICA. 
  COMO NO VOLVIMOS A VER CLASE NO PUDE HACER ESTA PREGUNTA.
*/

 tbody {
     font-family: Arial, Helvetica, sans-serif;
    }


 table {     
    width: 100%; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    text-align: left;
    border-collapse: collapse;
 }
 
 th {
     font-size: 18px;
     font-weight: normal;
     padding: 8px;
     background: #b9c9fe;
     border-top: 4px solid #aabcfe;
     border-bottom: 1px solid #fff;
    color: #039;
 }
 
 td {
    padding: 10px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
 
tr:hover td { 
    background: #d0dafd;
    color: #339;
}
