@charset "utf-8";
/*Documento Original CSS*/
body{
    background-color: white;
}

#cabecera{
    background-color: black;
    height: 150px;
    border-radius: .5em;
    max-width: 90%;
    margin: auto;
    text-align: center;
    text-shadow: 0.2em 0.6em 0.6em blue;
}


.navegacionPrin{
    list-style: none;
    background: gray;
    padding: 0px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;

}
.navegacionPrin li a{
    text-shadow: 0.1em 0.1em 0.2em blue;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    border-radius: .5em;
}

.navegacionPrin li{ /* selector compuesto de clase y contenido (li)*/
    display: inline-block; /* poner la lista de opciones horizontal, la barra de navegacion*/
    text-align: center;
    background-color: gray;
    color: black;
}

.navegacionPrin li a:hover{ /* EFECTO CUANDO SE PASE EL CURSOR POR ENCIMA DE LA BARRA DE NAVEGACION.*/
    background-color: #2d3e50;
    color: red;
    text-shadow: 0.1em 0.1em 0.2em black;
}

li{
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

#contenido{
    max-width: 90%;
    margin: auto;
    background-color: rgb(169, 188, 90);
    background-image: url("https://fondosmil.com/fondo/9855.jpg");
    min-height: 500px;
}


#contenidoPriEstudio{
    margin-top: 15px;
    padding-top: 150px;
    margin-bottom: 1000px;
    min-height: 300px;
 }

#contenidoPrin{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 500px;
    padding-top: 15px;
    background-image: url("https://fondosmil.com/fondo/9855.jpg");
  /*  border: 1px solid;
    border-color: red;
    */
}

#imagen{
    float: right; /* propiedad que permite establecer la imagen a la derecha*/
    max-width: 300px;
    margin-top: 120px;
}

#articulo{
    border: 1px solid;
}

#titulo{
    text-align: center;
}

#piePrin{
    background-color: black;
    clear:both; /* principal propiedad para que el pie de pagina quede conforme a la distribucion ya hecha.*/
    max-width: 90%;
    margin-top: 30px;
    height: 150px;
    border-radius: .5em;
    margin:auto;
    text-align: center;
}

#articulo1{
    font-size: larger;
}
h2{
    color: white;
    font-family: "Courier New";
    font-size: 15px;
    text-align: center;
    text-shadow: 0.2em 0.6em 0.6em blue;
}

h3{
    color: black;
    font: normal 22px arial;
    font-weight: bold;
}


h4{
    color:#ffffff;
    font-family: "Courier New";
    font-size:20px;
    text-align: center;
}

.grid_layout {
    display: grid; 
    max-width: 100%;
    grid-template-rows: 10px 0.5fr 10px 0.5fr 10px 0.5fr 10px 0.5fr;
    grid-template-columns: 10px 1fr 10px 1fr;
    padding-bottom: 25px;
 }
   
 #item-0 {
    
    padding-bottom: 305px;
    text-align: center;
    background-color: #6DE9DA; 
    grid-row-start: 1;
    grid-column-start: 1;
    font-weight: bold;
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-1 {
    text-align:left;
    background-color: #5DDEC7; 
    grid-row-start: 1;
    grid-column-start: 3;
    padding-top: 100px;
    text-align: center;
    grid-row-end: 3;
    grid-column-end: 5;
    
 }
 #item-2 {
    text-align: center;
    background-color: #77EDD5; 
    grid-row-start: 5;
    grid-column-start: 1;

    padding-top: 50px;
 
    grid-row-end: 7;
    grid-column-end: 3;
    
 }
 #item-3 {
    
    text-align: center;
    
    background-color: #559975; 
    grid-row-start: 7;
    grid-column-start: 3;
    padding-top: 60px;
 
    grid-row-end: 9;
    grid-column-end: 5;
    
 }
 #item-4 {
    
    text-align: center;
    background-color: #BF65B6; 
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 5;
    grid-column-end: 5;
    
 }
 #item-5 {
    text-align: center;
    background-color: #BCDF9A; 
    grid-row-start: 3;
    grid-column-start: 1;
    padding-top: 100px;
    grid-row-end: 5;
    grid-column-end: 3;
    
 }
 #item-6 {
    text-align: center;
    background-color: #F5B975; 
    grid-row-start: 5;
    grid-column-start: 3;
    padding-top: 100px;
 
    grid-row-end: 7;
    grid-column-end: 5;
    
 }

 #juegos{
     padding-top: 60px;
 }

 #item-7 {
    text-align: center;
    background-color: #e69bb8; 
    grid-row-start: 7;
    grid-column-start: 1;
    padding-top: 110px;
 
    grid-row-end: 9;
    grid-column-end: 3;
    
 }

 /*FORMULARIO*/

 input[type="text"],
 input[type="email"],
 textarea,
 select{
     border: 1px solid #C9C9C9;
     box-shadow: 0px 0px 2px #ccc inset; /* sombreado dentro del campo */
     background: white;
     padding: 2px;
     color: gray; /* para que el texto que ingrese salga de color gris */
     transition: all 300ms /* all es para seleccionar que la transicion le afecte a todos*/
 }
 
 input[type="text"]:focus, /* focus es que cuando estemos encima de estos campos, se resalte el contenido */
 input[type="email"]:focus{
     border: 1px solid #1579b5;
     color: black;
 }
 
 /* boton para enviar formulario*/
 
 input[type="submit"]{
     display: block;
     border-radius: 2px;
     width: auto;
     padding: 5px;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     background: #2979CD;
     border: 1px solid #11608E;
     cursor: pointer;
 }

 label{
     text-align: center;
 }

 label,input[type="text"],
 input[type="email"],
 input[type="submit"],textarea,
 button{
     display: block;
     margin-top: 30px;
 }

 input[type="text"],
 input[type="email"],
 button{
     margin-left: 550px;
 }

 textarea{
     margin-left: 450px;
 }

 input[type="submit"]{
     margin-left: 600px;
 }

 ul,li{
     background-color: #eae6e6;
 }



